{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@compyto/(.*)/domain(.*)$",
    "^@compyto/([^/]+)((?!/domain).)*$",
    "",
    "^(\\.\\.?/)+domain*$",
    "^[.]"
  ]
}
